.container {
  margin: 1.25rem 0;
}

.ghBtn {
  display: flex;
  align-items: center;
  background: var(--prism-background-color);
  color: var(--prism-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  padding: 0.4rem;
  line-height: 0;
  transition: opacity var(--ifm-transition-fast) ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
}

.ghBtn:hover {
  opacity: 1 !important;
  text-decoration: none;
  color: var(--prism-color);
}

:global(.theme-code-block:hover) .ghBtn {
  opacity: 0.4;
}

.error {
  color: var(--ifm-color-danger);
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.85rem;
}

.loading {
  color: var(--ifm-font-color-secondary);
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.85rem;
}
